# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Data & Dataset
backgrounds/*
generated_dataset/*
data/*
test_*/*
*NOTES*.md

# Model checkpoints
#*.pt
#*.pth
*.onnx

# IDE
.vscode/
.idea/

# System
.DS_Store