# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Data & Dataset
backgrounds/*
generated_dataset/*
data/*
*NOTES*.md

demo*/
*evaluate_model.py
*plot*

# Model checkpoints
*.pt
!best_*k.pt
*.pth
*.onnx

# IDE
.vscode/
.idea/

# System
.DS_Store